/* global rules */

$mainColor: #003c34;
$secColor: rgb(52, 61, 72);
$fontFamily: "cairo";
@font-face {
    font-family: "cairo";
    src: url(../fonts/Cairo-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "cairo";
    src: url(../fonts/Cairo-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "cairo";
    src: url(../fonts/Cairo-SemiBold.ttf);
    font-weight: 600;
}

body {
    font-family: $fontFamily !important;
    &::-webkit-scrollbar {
        width: 5px;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $mainColor;
      }
}



.fa-bars {
    outline: none;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: none;
}

/* end global rules */

/* nav */


.navbar.scrolled-nav{
    position: fixed;
    width:100%;
    background-color: #fff;
    width: 100%;
    background-color: #fff !important;
    z-index: 99999;
    box-shadow: 0 0 5px #ccc;
    .container{
        flex-direction: row-reverse !important;
    }
}

.navbar {
    background-color: transparent !important;
    min-height: 80px;
    direction: ltr;
    @media (max-width: 1200px) {
        border-bottom: 1px solid rgb(229, 229, 229);
        direction: rtl;
    }
    .navbar-brand {
        img {
            width: 100px;
        }
    }

    .navbar-nav {
        direction: rtl;
        @media (max-width: 991px) {
            text-align: right;
            padding-right: 0;
        }
        .nav-link {
            padding: 15px;
            border-bottom:2px solid transparent
        }
        .nav-item.active {
            .nav-link {
                border-color: $mainColor;
                color: $mainColor;
            }
        }
    }
}

/* header */

.intro {
    .container {
        @media (max-width: 1200px) {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            max-width: 100% !important;
        }
    }
    .header-img-holder {
        @media (max-width: 1200px) {
            display: none;
        }
        .header-img {
            position: absolute;
            right: -218px;
            width: 850px;
            height: auto;
            overflow: hidden;
            margin-top: -80px;
            direction: ltr;
        }
        &::after {
            content: "";
            background-image: url(../imgs/reg.png);
            display: block;
            height: 657px;
            width: 306px;
            z-index: 22222;
            position: absolute;
            left: -328px;
            background-size: cover;
            border-radius: 40px;
            top: 7px;
        }
    }

    .header-img-2 {
        display: none;
        @media (max-width: 1200px) {
            display: block;
            width: 80%;
            img {
                width: 100%;
            }
        }
        @media (max-width: 991px) {
            display: none;
        }
    }

    /*content*/

    .content {
        width: 100%;
        display: flex;
        justify-content: center;
        min-height: 300px;
        align-items: center;
        .content-div {
            text-align: right;
            width: 53%;
            margin-right: auto;
            margin-top: 100px;
            @media (max-width: 1200px) {
                width: 90%;
                margin-top: 0;
            }
            @media (max-width: 991px) {
                width: 100%;
                margin-left: auto;
                margin-right: 15px;
                padding-top: 64px;
            }
            @media (max-width: 500px) {
                margin-right: 0;
            }
            h1 {
                font-size: 64px;
                line-height: 1.55;
                font-weight: 700;
                color: $mainColor;
                margin-bottom: 20px;
                letter-spacing: -2px;
                font-family: $fontFamily;
                margin-bottom: 36px;

                @media (max-width: 1200px) {
                    font-size: 36px;
                }
                @media (max-width: 991px) {
                    width: 60%;
                }
                @media (max-width: 720px) {
                    width: 85%;
                }
                @media (max-width: 500px) {
                    width: 100%;
                }
            }
            p {
                font-size: 18px;
                color: $mainColor;

                @media (max-width: 991px) {
                    width: 60%;
                }
                @media (max-width: 720px) {
                    width: 85%;
                }
                @media (max-width: 500px) {
                    width: 100%;
                }
            }
            .download-buttons {
                a {
                    text-decoration: none;
                }
                margin-top: 36px;
                img {
                    margin-left: 5px;
                    @media (max-width: 991px) {
                        width: 150px !important;
                    }
                    @media (max-width: 425px) {
                        width: 100px !important;
                    }
                }
            }
        }
    }
}

/*about*/

.about {
    padding: 200px 0 50px;
    .about-heading {
        h2 {
            font-size: 26px;
            font-weight: 700;
            color: $mainColor;
            margin-top: 0px;
            margin-bottom: 12px;
            letter-spacing: -0.5px;
        }

        p {
            width: 60%;
            margin: auto;
            font-size: 18px;
            line-height: 1.7;
            margin-top: 28px;
            margin-bottom: 50px;
        }
    }
    .about-content {
        .feat {
            h4 {
                font-size: 18px;
                line-height: 28px;
                font-weight: bold;
                margin-bottom: 10px;
                color: $mainColor;
            }
            p {
                color: $secColor;
                font-size: 15px;
                line-height: 28px;
                padding: 0px 10px;
                margin: 0px;
            }
        }
    }
}

/*why-us*/

.why-us {
    padding: 64px 0;
    .why-img {
        position: relative;
        &::after{
            content: '';
            display: block;
            background-image: url(../imgs/feat.png);
            background-size: cover;
            width: 251px;
            height: 459px;
            position: absolute;
            left: 132px;
            top: -5px;
            border-radius: 30px;
            transform: rotate3d(1, 4, 1, 
        -38deg)
        }
        img {
            width: 95%;
        }
    }
    .why-head {
        font-size: 36px;
        line-height: 1.5;
        font-weight: 700;
        letter-spacing: -0.5px;
        margin-bottom: 45px;
        color: $mainColor;
        text-align: right;
    }
    .why-feat {
        text-align: right;
        .step {
            margin-bottom: 32px;
            span {
                color: rgba(9, 19, 31, 0.2);
                font-size: 64px;
                margin-left: 30px;
                line-height: 1em;
                font-family: "Work Sans", sans-serif;
            }
            h5 {
                font-size: 17px;
                line-height: 28px;
                font-weight: 700;
                margin-bottom: 10px;
                color: $mainColor;
            }
            p {
                font-size: 15px;
                line-height: 28px;
                margin-bottom: 0px;
                color: $secColor;
            }
        }
    }
}

.pricing {
    padding: 90px 0px 40px;
    position: relative;
    .bg {
        background-color: $mainColor;
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 64.7%;
        top: 0px;
        left: 0px;
        .Shape-one {
            left: 0px;
            bottom: 0px;
            position: absolute;
        }
        .Shape-two {
            right: 0px;
            top: 0px;
            position: absolute;
        }
    }
    .price-head {
        max-width: 480px;
        width: 100%;
        margin: 0px auto 50px;
        text-align: center;
        position: relative;
        text-align: center;
        h2 {
            font-size: 26px;
            line-height: 1.5;
            font-weight: 700;
            color: #fff;
            margin-top: 0px;
            margin-bottom: 12px;
            letter-spacing: -0.5px;
        }
        p {
            font-size: 15px;
            font-weight: normal;
            margin-bottom: 0px;
            color: #fff;
        }
    }
    .price-palns {
        position: relative;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        box-shadow: rgba(135, 150, 158, 10%) 0px 4px 20px;
        padding: 105px 85px 60px;
        margin: auto 0px;
        @media (max-width: 991px) {
            padding: 40px;
        }
        .plans-container {
            flex-wrap: wrap;
            -webkit-box-align: center;
            align-items: center;
            padding-bottom: 60px;
            .price-items {
                width: 183px;
                margin-top: -49px !important;
                text-align: left;
                padding: 0;
                margin: 0;
                @media (max-width: 991px) {
                    display: none;
                }
                li {
                    border-bottom: 1px solid rgb(237, 240, 244);
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 1.5;
                    color: $secColor;
                    min-height: 60px;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    padding: 8px 0px;
                }
            }
            .my-plan {
                background: rgb(255, 255, 255);
                border: 1px solid rgb(237, 240, 244);
                border-radius: 10px;
                padding: 25px 0px;
                text-align: center;
                transition: all 0.3s ease 0s;
                position: relative;
                margin-right: 8px;
                width: calc(33.33% - 69px);
                @media (max-width: 991px) {
                    flex-basis: 32%;
                    max-width: 100%;
                }
                @media (max-width: 767px) {
                    flex-basis: 100%;
                    max-width: 100%;
                    margin-bottom: 24px;
                }
                i {
                    color: #ccc;
                }
                .plane-head {
                    color: $mainColor;
                    font-weight: bold;
                }
                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        border-bottom: 1px solid rgb(237, 240, 244);
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 1.5;
                        color: $secColor;
                        min-height: 60px;
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        justify-content: center;
                        padding: 8px 0px;
                    }
                }
                button {
                    margin-top: 41px;
                    border-radius: 5px;
                    border: 2px solid $mainColor;
                    color: $mainColor;
                    letter-spacing: -0.5px;
                    background-color: transparent;
                    font-weight: bold;
                    padding: 13px 30px;
                    transition: 0.3s;
                    &:hover {
                        background-color: $mainColor;
                        color: #fff;
                    }
                }
            }
            .my-plan:first-of-type {
                margin-right: 0;
            }
        }
    }

    .custom-price {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        border-top: 1px solid rgb(237, 240, 244);
        padding-top: 40px;
        @media (max-width: 767px) {
            flex-wrap: wrap;
           
        }
        h4 {
            font-weight: 700;
            font-size: 30px;
            letter-spacing: -0.6px;
            max-width: 50%;
            margin-bottom: 0px;
            text-align: right;
            line-height: 45px;
            @media (max-width: 991px) {
                font-size: 24px;
            }
            @media (max-width: 767px) {
                flex-basis: 100%;
                max-width: 100%;
                font-size: 19px;
                text-align: center;
                margin-bottom: 24px;
            }
        }
        .btn {
            color: #fff;
            font-size: 15px;
            line-height: 1.2em;
            font-weight: 700;
            border-radius: 7px;
            padding: 18px 20px;
            letter-spacing: -0.2px;
            background-color: $mainColor;
            @media (max-width: 991px) {
                padding: 10px 15px;
            }
            @media (max-width: 767px) {
                flex-basis: 100%;
                max-width: 100%;
            }
        }
    }
}

/* customers-tweets*/

.customers-tweets {
    padding: 50px 0;
    .testi-head {
        max-width: 480px;
        width: 100%;
        margin: 0px auto 50px;
        text-align: center;
        h2 {
            font-size: 26px;
            line-height: 1.5;
            font-weight: 700;
            color: $mainColor;
            margin-top: 0px;
            margin-bottom: 12px;
            letter-spacing: -0.5px;
        }
        p {
            font-size: 15px;
            font-weight: normal;
            line-height: 2.3;
            margin-bottom: 0px;
            color: $mainColor;
        }
    }
    .client-tweet-content {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 20px;
        box-shadow: rgb(234, 233, 242) 0px 0px 0px 2px;
        transition: all 0.25s ease-in 0s;
        text-align: right;
        margin-bottom: 30px;
        .client-info {
            img {
                width: 40px;
                height: 40px;
                margin-left: 13px;
            }
            .client-name {
                h5 {
                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 700;
                    color: $mainColor;
                    margin-bottom: 0px;
                    margin-top: -7px;
                }
                p {
                    color: rgb(105, 104, 113);
                    font-size: 15px;
                    line-height: 1.9;
                    font-weight: 500;
                    letter-spacing: -0.5px;
                }
            }
        }
        .client-replay {
            color: rgb(52, 61, 72);
            font-size: 16px;
            line-height: 30px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
            max-height: 90px;
        }
    }
}

/*faq*/
.faq {
    padding: 50px 0;
    .faq-head {
        max-width: 480px;
        width: 100%;
        margin: 0px auto 50px;
        text-align: center;
        position: relative;
    }
    .faq-content {
        #accordion {
            .card {
                text-align: right;
                margin-bottom: 24px;
                .card-header {
                    background-color: rgba(0, 0, 0, 0.01);
                }
                h5 {
                    position: relative;
                    button {
                        color: $mainColor;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 30px;
                        margin-bottom: 0;
                        width: 100%;
                        text-align: right;
                        text-decoration: none;
                    }
                    i {
                        position: absolute;
                        left: 0;
                        top: 35%;
                    }
                }
                .card-body {
                    font-size: 15px;
                    line-height: 32px;
                    color: rgb(52, 61, 72);
                }
            }
        }
    }
}
.typed-cursor{
    display: none;
}

.typeme{
    min-height: 55px;
}

footer{
    background-color: $mainColor;
    color:#fff;
    padding: 25px;
    text-align: center;
    .brands{
        a{
            color:#fff;
            display: inline-block;
            margin:0 8px
        }
    }
}


/* scroll*/

#scroll {
    position: fixed;
    left: 25px;
    bottom: 25px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #003c34;
    color: #fff;
    font-size: 26px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}
