/* global rules */

$mainColor: #003c34;
$secColor: rgb(52, 61, 72);
$fontFamily: "cairo";
@font-face {
    font-family: "cairo";
    src: url(../fonts/Cairo-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "cairo";
    src: url(../fonts/Cairo-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "cairo";
    src: url(../fonts/Cairo-SemiBold.ttf);
    font-weight: 600;
}

body {
    font-family: $fontFamily !important;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $mainColor;
    }
}

.fa-bars {
    outline: none;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: none;
}
.modal-open .modal {
    overflow: hidden;
}
.modal-dialog.modal-dialog-centered {
    justify-content: center;
    .modal-content {
        width: 50%;
        height: 50%;
        max-width: 100%;
        max-height: 60%;
        .modal-body {
            width: 100%;
            height: 100%;
            .embed-responsive {
                width: 100%;
                height: 100%;
            }
        }
    }
}
.modal-dialog {
    min-height: 100%;
    height: 100%;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 88%;
        margin: 1.75rem auto;
    }
}
.navbar.navbar-light .breadcrumb .nav-item.active > .nav-link,
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
    background-color: transparent;
}
/* end global rules */

/* nav */

.navbar.scrolled-nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
    width: 100%;
    background-color: #fff !important;
    z-index: 99999;
    box-shadow: 0 0 5px #ccc;
    .container {
        flex-direction: row !important;
    }
    .container {
        .navbar-nav {
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
}

.navbar {
    background-color: transparent !important;
    min-height: 80px;
    box-shadow: none;
    @media (max-width: 1200px) {
        border-bottom: 1px solid rgb(229, 229, 229);
        direction: rtl;
    }
    .navbar-brand {
        img {
            width: 100px;
        }
    }

    .navbar-nav {
        direction: rtl;
        @media (max-width: 991px) {
            text-align: right;
            padding-right: 0;
        }
        .nav-link {
            padding: 15px;
            border-bottom: 2px solid transparent;
        }
        .nav-item.active {
            .nav-link {
                border-color: $mainColor;
                color: $mainColor;
            }
        }
    }
}

/* header */

.intro {
    .container {
        @media (max-width: 1200px) {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            max-width: 100% !important;
        }
    }
    .header-img-holder {
        @media (max-width: 1200px) {
            display: none;
        }
        .header-img {
            position: absolute;
            left: -199px;
            width: 775px;
            height: auto;
            overflow: hidden;
            margin-top: -80px;
            direction: ltr;
            transform: scaleX(-1);
        }
        &::after {
            content: "";
            background-image: url(../imgs/reg.png);
            display: block;
            height: 649px;
            width: 301px;
            z-index: 22;
            position: absolute;
            left: -31px;
            background-size: cover;
            border-radius: 40px;
            top: 11px;
        }
    }

    .header-img-2 {
        display: none;
        @media (max-width: 1200px) {
            display: block;
            width: 80%;
            img {
                width: 100%;
            }
        }
        @media (max-width: 991px) {
            display: none;
        }
    }

    /*content*/

    .content {
        width: 100%;
        display: flex;
        justify-content: center;
        min-height: 300px;
        align-items: center;
        .content-div {
            text-align: right;
            width: 53%;
            margin-left: auto;
            margin-top: 50px;
            @media (max-width: 1200px) {
                width: 90%;
                margin-top: 0;
            }
            @media (max-width: 991px) {
                width: 100%;
                margin-left: auto;
                margin-right: 15px;
                padding-top: 64px;
            }
            @media (max-width: 500px) {
                margin-right: 0;
            }
            h1 {
                font-size: 64px;
                line-height: 1.25;
                font-weight: 700;
                color: $mainColor;
                margin-bottom: 20px;
                letter-spacing: -2px;
                font-family: $fontFamily;
                margin-bottom: 36px;

                @media (max-width: 1200px) {
                    font-size: 36px;
                }
                @media (max-width: 991px) {
                    width: 60%;
                }
                @media (max-width: 720px) {
                    width: 85%;
                }
                @media (max-width: 500px) {
                    width: 100%;
                    font-size: 24px;
                    line-height: 35px;
                }
            }
            p {
                font-size: 18px;
                color: $mainColor;

                @media (max-width: 991px) {
                    width: 60%;
                }
                @media (max-width: 720px) {
                    width: 85%;
                }
                @media (max-width: 500px) {
                    width: 100%;
                }
            }
            .download-buttons {
                a {
                    text-decoration: none;
                }
                margin-top: 36px;
                img {
                    margin-left: 5px;
                    @media (max-width: 991px) {
                        width: 150px !important;
                    }
                    @media (max-width: 425px) {
                        width: 100px !important;
                    }
                }
            }
        }
    }
}

/*about*/

.about {
    padding: 200px 0 50px;
    @media (max-width: 1200px) {
        padding-top: 50px;
    }
    .about-heading {
        h2 {
            font-size: 26px;
            font-weight: 700;
            color: $mainColor;
            margin-top: 0px;
            margin-bottom: 12px;
            letter-spacing: -0.5px;
        }

        p {
            width: 60%;
            margin: auto;
            font-size: 18px;
            line-height: 1.7;
            margin-top: 28px;
            margin-bottom: 50px;
        }
    }
    .about-content {
        .feat {
            i {
                width: 100px;
                height: 100px;
                margin-right: auto;
                margin-left: auto;
                line-height: 100px;
                background-color: #ffffff;
                border-radius: 50%;
                font-size: 28px;
                margin-bottom: 20px;
                color: #003c34;
                box-shadow: 0 0 5px #ccc;
                border: 1px solid #ccc;
            }
            h4 {
                font-size: 18px;
                line-height: 28px;
                font-weight: bold;
                margin-bottom: 10px;
                color: $mainColor;
                .free {
                    font-size: 13px;
                }
            }
            p {
                color: $secColor;
                font-size: 15px;
                line-height: 28px;
                padding: 0px 10px;
                margin: 0px;
            }
        }
    }
}

/*why-us*/

.why-us {
    padding: 64px 0;
    .why-img {
        position: relative;
        &::after {
            content: "";
            display: block;
            background-image: url(../imgs/feat.png);
            background-size: cover;
            width: 251px;
            height: 459px;
            position: absolute;
            left: 132px;
            top: -5px;
            border-radius: 30px;
            transform: rotate3d(1, 4, 1, -38deg);
            @media (max-width: 1199px) {
                width: 208px;
                height: 387px;
                left: 114px;
                top: -5px;
            }
            @media (max-width: 991px) {
                width: 330px;
                height: 594px;
                left: 163px;
                top: -5px;
            }
            @media (max-width: 767px) {
                width: 252px;
                height: 443px;
                left: 118px;
                top: -5px;
            }
            @media (max-width: 575px) {
                width: 252px;
                height: 468px;
                left: 134px;
                top: -5px;
            }
            @media (max-width: 425px) {
                width: 188px;
                height: 350px;
                left: 100px;
                top: -5px;
            }
            @media (max-width: 375px) {
                width: 165px;
                height: 305px;
                left: 88px;
                top: -5px;
            }
            @media (max-width: 320px) {
                width: 139px;
                height: 255px;
                left: 76px;
                top: -5px;
            }
        }
        img {
            width: 95%;
        }
    }
    .why-head {
        font-size: 36px;
        line-height: 1.5;
        font-weight: 700;
        letter-spacing: -0.5px;
        margin-bottom: 45px;
        color: $mainColor;
        text-align: right;
    }
    .why-feat {
        text-align: right;
        .step {
            margin-bottom: 32px;
            span {
                color: rgba(9, 19, 31, 0.2);
                font-size: 64px;
                margin-left: 30px;
                line-height: 1em;
                font-family: "Work Sans", sans-serif;
            }
            h5 {
                font-size: 17px;
                line-height: 28px;
                font-weight: 700;
                margin-bottom: 10px;
                color: $mainColor;
            }
            p {
                font-size: 15px;
                line-height: 28px;
                margin-bottom: 0px;
                color: $secColor;
            }
        }
    }
}

.pricing {
    padding: 90px 0px 40px;
    position: relative;
    .bg {
        background-color: $mainColor;
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 64.7%;
        top: 0px;
        left: 0px;
        .Shape-one {
            left: 0px;
            bottom: 0px;
            position: absolute;
        }
        .Shape-two {
            right: 0px;
            top: 0px;
            position: absolute;
        }
    }
    .price-head {
        max-width: 480px;
        width: 100%;
        margin: 0px auto 50px;
        text-align: center;
        position: relative;
        text-align: center;
        h2 {
            font-size: 26px;
            line-height: 1.5;
            font-weight: 700;
            color: #fff;
            margin-top: 0px;
            margin-bottom: 12px;
            letter-spacing: -0.5px;
        }
        p {
            font-size: 15px;
            font-weight: normal;
            margin-bottom: 0px;
            color: #fff;
        }
    }
    .price-palns {
        position: relative;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        box-shadow: rgba(135, 150, 158, 10%) 0px 4px 20px;
        padding: 105px 85px 60px;
        margin: auto 0px;
        @media (max-width: 991px) {
            padding: 40px;
        }
        .plans-container {
            flex-wrap: wrap;
            -webkit-box-align: center;
            align-items: center;
            padding-bottom: 60px;
            .price-items {
                width: 183px;
                margin-top: -49px !important;
                text-align: left;
                padding: 0;
                margin: 0;
                @media (max-width: 991px) {
                    display: none;
                }
                li {
                    border-bottom: 1px solid rgb(237, 240, 244);
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 1.5;
                    color: $secColor;
                    min-height: 60px;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    padding: 8px 0px;
                }
            }
            .my-plan {
                background: rgb(255, 255, 255);
                border: 1px solid rgb(237, 240, 244);
                border-radius: 10px;
                padding: 25px 0px;
                text-align: center;
                transition: all 0.3s ease 0s;
                position: relative;
                margin-right: 8px;
                width: calc(33.33% - 69px);
                @media (max-width: 991px) {
                    flex-basis: 32%;
                    max-width: 100%;
                }
                @media (max-width: 767px) {
                    flex-basis: 100%;
                    max-width: 100%;
                    margin-bottom: 24px;
                }
                i {
                    color: #ccc;
                }
                .plane-head {
                    color: $mainColor;
                    font-weight: bold;
                }
                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        border-bottom: 1px solid rgb(237, 240, 244);
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 1.5;
                        color: $secColor;
                        min-height: 60px;
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        justify-content: center;
                        padding: 8px 0px;
                    }
                }
                button {
                    margin-top: 41px;
                    border-radius: 5px;
                    border: 2px solid $mainColor;
                    color: $mainColor;
                    letter-spacing: -0.5px;
                    background-color: transparent;
                    font-weight: bold;
                    padding: 13px 30px;
                    transition: 0.3s;
                    &:hover {
                        background-color: $mainColor;
                        color: #fff;
                    }
                }
            }
            .my-plan:first-of-type {
                margin-right: 0;
            }
        }
    }

    .custom-price {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        border-top: 1px solid rgb(237, 240, 244);
        padding-top: 40px;
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
        h4 {
            font-weight: 700;
            font-size: 30px;
            letter-spacing: -0.6px;
            max-width: 50%;
            margin-bottom: 0px;
            text-align: right;
            line-height: 45px;
            @media (max-width: 991px) {
                font-size: 24px;
            }
            @media (max-width: 767px) {
                flex-basis: 100%;
                max-width: 100%;
                font-size: 19px;
                text-align: center;
                margin-bottom: 24px;
            }
        }
        .btn {
            color: #fff;
            font-size: 15px;
            line-height: 1.2em;
            font-weight: 700;
            border-radius: 7px;
            padding: 18px 20px;
            letter-spacing: -0.2px;
            background-color: $mainColor;
            @media (max-width: 991px) {
                padding: 10px 15px;
            }
            @media (max-width: 767px) {
                flex-basis: 100%;
                max-width: 100%;
            }
        }
    }
}

/* customers-tweets*/

.customers-tweets {
    padding: 50px 0;
    .testi-head {
        max-width: 480px;
        width: 100%;
        margin: 0px auto 50px;
        text-align: center;
        h2 {
            font-size: 26px;
            line-height: 1.5;
            font-weight: 700;
            color: $mainColor;
            margin-top: 0px;
            margin-bottom: 12px;
            letter-spacing: -0.5px;
        }
        p {
            font-size: 15px;
            font-weight: normal;
            line-height: 2.3;
            margin-bottom: 0px;
            color: $mainColor;
        }
    }
    .client-tweet-content {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 20px;
        box-shadow: rgb(234, 233, 242) 0px 0px 0px 2px;
        transition: all 0.25s ease-in 0s;
        text-align: right;
        margin-bottom: 30px;
        .client-info {
            img {
                width: 40px;
                height: 40px;
                margin-left: 13px;
            }
            .client-name {
                h5 {
                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 700;
                    color: $mainColor;
                    margin-bottom: 0px;
                    margin-top: -7px;
                }
                p {
                    color: rgb(105, 104, 113);
                    font-size: 15px;
                    line-height: 1.9;
                    font-weight: 500;
                    letter-spacing: -0.5px;
                }
            }
        }
        .client-replay {
            color: rgb(52, 61, 72);
            font-size: 16px;
            line-height: 30px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
            max-height: 90px;
        }
    }
}

/*faq*/
.faq {
    padding: 50px 0;
    .faq-head {
        max-width: 480px;
        width: 100%;
        margin: 0px auto 50px;
        text-align: center;
        position: relative;
    }
    .faq-content {
        .hidden-question {
            display: none;
        }
        .question {
            text-align: right;
            border-bottom: 1px solid rgb(229, 229, 229);
            padding-bottom: 17px;
            margin-bottom: 24px;
            h5 {
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: -0.5px;
                color: $mainColor;
                margin-bottom: 15px;
            }
            p {
                font-size: 15px;
                line-height: 32px;
                color: $secColor;
                margin: 0;
            }
        }
        .expand-faq {
            width: 100%;
            text-align: center;
            margin: 36px 0 0 0;
            button {
                padding: 10px 25px;
                background-color: $mainColor;
                border-color: $mainColor;
                color: #fff;
            }
        }
    }
}
.typed-cursor {
    display: none;
}

.typeme {
    min-height: 55px;
}

.footer {
    background-color: $mainColor;
    color: #fff;
    padding: 25px;
    text-align: center;

    .right-foot {
        text-align: right;
        h5 {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 16px;
        }
        ul {
            padding: 0;
            li {
                display: inline-block;
                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 5px 10px;
                }
            }
        }
    }
    .left-foot {
        text-align: right;
    }
    .brands {
        a {
            color: #fff;
            display: inline-block;
            margin: 0 8px;
            font-size: 13px;
        }
    }
    @media (max-width: 700px) {
        flex-wrap: wrap;
        .right-foot {
            width: 100%;
            text-align: center;
        }
        .left-foot {
            width: 100%;
            text-align: center;
        }
    }
}

/* scroll*/

#scroll {
    position: fixed;
    left: 25px;
    bottom: 25px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #003c34;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}

/* video-feat */

.video-feat {
    position: relative;
    &::after {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 75.5%;
        background-color: #faf7fa;
        content: "";
        z-index: -1;
    }
    .vid-head {
        max-width: 480px;
        width: 100%;
        margin: 0px auto 50px;
        text-align: center;
        position: relative;
        h3 {
            font-size: 26px;
            line-height: 1.5;
            font-weight: 700;
            color: $mainColor;
            margin-top: 0px;
            margin-bottom: 12px;
            letter-spacing: -0.5px;
        }
        p {
            font-size: 15px;
            font-weight: normal;
            line-height: 2.3;
            margin-bottom: 0px;
            color: $mainColor;
        }
    }
    .vid-content {
        .video-player {
            display: inline-flex;
            position: relative;
            margin: 0px auto 60px;
            img {
                max-width: 100%;
                object-fit: cover;
                cursor: pointer;
                height: 100%;
                border-radius: 10px;
            }
            button {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 80px;
                height: 80px;
                line-height: 80px;
                text-align: center;
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.5s ease 0s;
                display: inline-block;
                z-index: 0;
                padding: 0px;
                background-color: transparent;
                border: none;
                outline: none;
                i {
                    color: white;
                    position: relative;
                    z-index: 5;
                    background-color: $mainColor;
                    display: block;
                    border-radius: inherit;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 25px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    z-index: 0;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    display: block;
                    width: 80px;
                    height: 80px;
                    background: rgb(255, 255, 255);
                    border-radius: 50%;
                    animation: 1.5s ease-out 0s infinite normal none running VideoButton;
                }
            }
        }
    }

    .vid-caption {
        .caption {
            text-align: right;
            margin-bottom: 28px;
            i {
                margin-left: 16px;
                font-size: 40px;
                color: $mainColor;
            }
            .title {
                h5 {
                    margin: -3px 0px 18px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 1.6;
                    color: $mainColor;
                }
                p {
                    color: $secColor;
                    font-size: 15px;
                    line-height: 1.9;
                    margin: 0px;
                }
            }
        }
    }

    .our-partners {
        .part-head {
            position: relative;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            &::before {
                position: absolute;
                content: "";
                height: 1px;
                width: 100%;
                background-color: rgb(234, 233, 242);
                top: 50%;
                left: 0px;
            }
            span {
                position: relative;
                font-size: 16px;
                background-color: rgb(250, 247, 250);
                margin-bottom: 0px;
                z-index: 2;
                padding: 0px 30px;
                line-height: 1.8;
                text-align: center;
                color: rgb(105, 104, 113);
            }
        }
        .part-container {
            display: flex;
            -webkit-box-align: center;
            direction: ltr;
            align-items: center;
            flex-wrap: nowrap;
            overflow: hidden;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            padding: 57px 0px 57px;
            width: calc(100% - 60px);
            &::before {
                content: "";
                display: block;
                width: 50px;
                height: 100%;
                position: absolute;
                top: 0px;
                background: linear-gradient(to right, rgb(250, 247, 250), rgba(255, 255, 255, 0));
                z-index: 1;
                left: 0;
            }
            &::after {
                content: "";
                display: block;
                width: 50px;
                height: 100%;
                position: absolute;
                top: 0px;
                background: linear-gradient(to right, rgb(250, 247, 250), rgba(255, 255, 255, 0));
                z-index: 1;
                right: 0px;
                transform: rotateZ(180deg);
            }
            .slide-imgs {
                height: 40px;
                flex-shrink: 0;
                animation: 20s linear 0s infinite normal none running slide-imgs;
                a {
                    margin: 0px 35px;
                    transition: all 0.3s ease 0s;
                    opacity: 0.6;
                    text-decoration: none;
                    img {
                        max-width: 90%;
                    }
                }
            }
        }
    }
}

/* keyFrames */

@-webkit-keyframes VideoButton {
    0% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
} /*!sc*/
@keyframes VideoButton {
    0% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
} /*!sc*/

@-webkit-keyframes slide-imgs {
    from {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
} /*!sc*/
@keyframes slide-imgs {
    from {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
@keyframes rot {
    from {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    from {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
} /*!sc*/
/*!sc*/
data-styled.g933[id="sc-keyframes-kJPzGr"] {
    content: "kJPzGr,";
} /*!sc*/

/*slide-imgs*/

/* slide feats*/

.sliding-feat {
    padding: 60px 0;
    position: relative;

    .slide-head {
        max-width: 480px;
        width: 100%;
        margin: 0px auto 50px;
        text-align: center;
        position: relative;
        h2 {
            font-size: 26px;
            line-height: 1.5;
            font-weight: 700;
            color: $mainColor;
            margin-top: 0px;
            margin-bottom: 12px;
        }
        p.head-desc {
            font-size: 15px;
            font-weight: normal;
            line-height: 2.3;
            margin-bottom: 0px;
            color: $mainColor;
        }
    }
    .content {
        flex-wrap: wrap;
        text-align: right;
        justify-content: space-between;
        padding: 0;
        position: static;
        width: 100%;
        margin: 0;
        li {
            flex-basis: 35%;
            max-width: 100%;
            text-indent: 0;
            height: fit-content;
            cursor: pointer;
            margin: 0;
            opacity: 1;
            @media (max-width: 767px) {
                flex-basis: 100%;
                .feat-step {
                    width: 100% !important;
                }
            }
            .feat-step {
                width: 100%;
                margin-bottom: 32px;
                @media (max-width: 1170px) {
                    width: 95%;
                }
                span {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: rgba(108, 36, 126, 0.1);
                    margin-left: 15px;
                    font-weight: bold;
                    flex-shrink: 0;
                    color: $mainColor;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: inherit;
                        border-width: 3px;
                        border-style: solid;
                        border-color: $mainColor transparent $mainColor $mainColor;
                        border-image: initial;
                        box-sizing: border-box;
                        transition: all 0.25s ease-in-out;
                        animation: 2s linear infinite rot;
                        opacity: 0;
                        visibility: hidden;
                    }
                }
                .step-holder {
                    h5 {
                        margin: -3px 0px 13px;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 1.5;
                        color: $mainColor;
                    }
                    p {
                        color: rgb(52, 61, 72);
                        font-size: 15px;
                        line-height: 1.9;
                        margin: 0px;
                    }
                }
            }
        }
        li:nth-child(even) {
            display: flex;
            justify-content: flex-end;
        }
        li.active {
            span {
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    // the-sliding-imgs

    .the-sliding-imgs {
        position: absolute;
        background-size: contain;
        z-index: 2;
        left: 37%;
        top: 0%;
        width: 30%;
        height: 114%;
        display: block;
        background-repeat: no-repeat;
        &::after {
            content: "";
            position: absolute;
            background-image: url(../imgs/swiper.png);
            background-size: cover;
            z-index: 22;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: block;
            background-repeat: no-repeat;
        }
        .bg-holder {
            width: 100%;
            height: 100%;

            img {
                width: 171px;
                position: absolute;
                left: 71px;
                top: 5px;
                border-radius: 20px;
                object-fit: cover;
                transition: 0.3s all ease-in-out;
                @media (max-width: 1200px) {
                    width: 169px;
                    position: absolute;
                    left: 69px;
                    top: 3px;
                    border-radius: 22px;
                }
            }
        }
        @media (max-width: 1200px) {
            display: none;
        }
    }
}

/* translate config */

.langButtons {
    position: relative;
    z-index: 888;
    .dropdown {
        .dropdown-toggle {
            padding: 5px;
            background-color: #fff;
            color: #003c34;
            font-size: 17px;
            box-shadow: 0 0 5px #ccc;
        }
    }
}
